<div class="card">
    <div class="card-body">
        <h4>{{ note_snippet_var.title }}
            <span class="badge badge-{{ note_snippet_var.get_label_display }}">{{ note_snippet_var.due_date }}</span>
            <span class="icons">
                {% if type == "DELETE" %}
                <a href="{{ note_snippet_var.get_finish_item_url }}"><i class="fas fa-check" style="color:green;"></i><a/>
                {% else %}
                <a href="{{ note_snippet_var.get_recover_item_url }}"><i class="fas fa-times" ></i><a/>
                {% endif %}
                <a href="{{ note_snippet_var.get_delete_item_url }}"><i class="fas fa-trash" style="color:red;"></i><a/>
            </span>
        </h4>
        
    </div>
</div>